#master-data-buttons {
  background-color: #f2f2f2 !important;
  height: 50px !important;
  padding-bottom: 5px !important;
  margin-bottom: 10px !important;
  padding-top:0 !important;
  padding-left:0 !important;
}

.dx-button-content {
  padding-left: 130px !important;
}
