:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1501;
}

.layout-body {
  flex: 1;
  min-height: 0;
}

.content {
  flex-grow: 1;
}

#navigation-header1 {
  @import "../../../themes/generated/variables.additional.scss";
  background-color: $base-bg;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

  ::ng-deep .menu-button .dx-icon {
    color: $base-text-color;
  }

  :host-context(.screen-x-small) & {
    padding-left: 20px;
  }

  :host-context(.dx-theme-generic) & {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
