<dx-drawer
  class="layout-body"
  id="drawer1"
  position="before"
  [closeOnOutsideClick]="shaderEnabled"
  [openedStateMode]="menuMode"
  [revealMode]="menuRevealMode"
  [minSize]="minMenuSize"
  [shading]="shaderEnabled"
  [(opened)]="menuOpened">

  <app-side-navigation-menu
    id="app-side-nav-menu1"
    [menuNavItems]="appNav"
    [compactMode]="!menuOpened"
    [selectedItem]="selectedRoute"
    class="dx-swatch-additional"
    *dxTemplate="let dataMenu of 'panel'"
    (selectedItemChanged)="navigationChanged($event)"
    (openMenu)="navigationClick()">
    <dx-toolbar id="navigation-header1">
      <dxi-item
        location="before"
        cssClass="menu-button"
        widget="dxButton"
        [options]="{
          icon: 'smalliconslayout',
          stylingMode: 'text',
          onClick: toggleMenu
        }">
      </dxi-item>
    </dx-toolbar>
  </app-side-navigation-menu>

  <app-header
    class="layout-header"
    [menuToggleEnabled]="true"
    (menuToggle)="menuOpened = !menuOpened;"
    [title]="title">
  </app-header>

  <app-side-nav-general>
    <router-outlet></router-outlet>
    <app-footer>
      Copyright © 2011-{{appInfo.currentYear}} {{appInfo.companyName}}
      <br/>
      All trademarks or registered trademarks are property of their respective owners.
    </app-footer>
  </app-side-nav-general>

</dx-drawer>
